
.skills-info-box{
    width: 100%;
    cursor: pointer;
}

.skills-info-nivel {
    margin-left: 20px;
    width: 200px;
    padding: 5px;
}

.skills-info-nivel-borda {
    width: 300px;
    height: 3px;
    background: linear-gradient(to right, transparent, #FFC857 );
    animation: loadingAnimation 4s infinite linear;
  }
  
  @keyframes loadingAnimation {
    0% {
      background-position: -300px 0;
    }
    100% {
      background-position: 300px 0;
    }
  }