.footer-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    width: 100%;

    border-top: 1px solid;
}

.footer-container-info {
    font-size: 22px;
    font-weight: 600;
    padding: 15px;
}

.footer-container-icons {
    font-size: 30px;

}
.footer-container-icons a{
    margin-left: 20px;
    color: red;
}
